@import "tailwindcss";

@theme {
  --color-primary: #69846B;
  --color-primary-hover: #5A735C;
  --color-secondary: #9CB494;
  --color-background: #F8F9F6;
  --color-dark: #3F4E5A;
  --color-border: #D7DEC8;
}